.navigation {
    display: flex;
    align-items: center;
    gap: 7.2rem;
    margin: 0rem;
    padding: 0rem;
}

.navigation__item {
    @include font ($size: 1.6rem, $height: 2rem);
    list-style-type: none;
    color: #FFFFFF;
    &_choice {
        display: flex;
        align-items: center;
        gap: 1.2rem;
    }
}