.reasons {
    padding: 7.6rem 0 8rem;    
    background: #171422;
}

.reasons-content {
    display: flex;
    flex-direction: column;
}

.wrapper__reasons {
    display: flex;
    gap: 2rem;
}

.reasons-title {
    padding: 4rem 4.7rem 5rem 4rem;
    border-radius: 30px;
    background: linear-gradient(135.00deg, rgb(255, 164, 98) 0%,rgb(180, 83, 80) 21.793%,rgb(138, 38, 69) 48.927%,rgb(41, 23, 37) 84.552%);
}

.reason__decription {
    @include font ($size: 2.2rem, $height: 140%);
    margin: 0rem;
    color: #FFFFFF;
    &_one {
        margin: 5.9rem 0 4.1rem;
    }
    &_two {
        margin: 5.2rem 0.5rem 8.7rem;
    }
    &_three {
        margin: 2.8rem 0.6rem 5.9rem;
    }
    &_three-bottom {
        margin-top: 7.1rem;
    }
    &_four {
        margin: 2.8rem 0 5.9rem 0.5rem;
    }
    &_five {
        margin: 2.8rem 0 9rem 0.5rem;
    }
    &_more {
        @include font ($size: 1.8rem, $height: 140%);
        margin: 3.1rem 17.5rem 4rem 0;
        text-align: right;
    }
    &_remark {
        margin: 2.3rem 0 2.8rem;
    }
}

.reason__number {
    @include font ($size: 18.3rem, $weight: 700, $height: 110%);
    background: linear-gradient(136.44deg, rgb(138, 38, 69),rgb(41, 23, 37),rgb(23, 20, 34));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
    margin: 0rem;
    &_one {
        margin: 4.1rem 4.2rem 0 0;
    }
}

.reason {
    display: flex;
}
