.header {
    padding: 1.5rem 0;
    background: linear-gradient(132.59deg, rgb(158, 11, 55) 0.982%,rgb(255, 197, 49) 72.223%,rgb(158, 11, 55) 99.953%);;
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}